.title {
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
}

.description {
  text-align: center;
  font-style: italic;
  font-size: 1rem;
}

.cards {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.cardItem {
  text-align: center;
  background-color: lightgoldenrodyellow;
  border: 1px solid rebeccapurple;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 2px 1px rgba(125, 69, 209, 0.2);
}

.markedCardItem {
  text-align: center;
  background-color: rgba(147, 238, 144, 0.7);
  border: 1px dashed rebeccapurple;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 2px 1px rgba(125, 69, 209, 0.2);
  animation: change-background 4s ease infinite;
}

.cardTitle {
  font-size: 2.5rem;
  font-weight: bold;
}

.cardEnglish {
  font-size: 1.5rem;
}

.cardPinyin {
  font-style: italic;
  font-size: 1rem;
}

.headerCount {
  position: absolute;
  color: rgb(40, 85, 182);
  right: 100px;
  margin-top: -1.5rem;
}

@keyframes change-background {
  0% {
    background: rgba(147, 238, 144, 0.7);
  }
  50% {
    background: rgb(147, 238, 144);
  }
  100% {
    background: rgba(147, 238, 144, 0.7);
  }
}
